@import '../Styling/Variables.scss';

.topfilms{
    color: white;
    margin-left: 20px;

}


.ListMovie{
    color: white;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

}



.row__poster{
    color: white;
    overflow-y: hidden;
    overflow-x: scroll;
    
}

.landingpage{
    width: 100%;
    height: 100%;
}
.row__posterLarge{
    width: 100px;
}